@use './variables' as *;
@use './projects';
@use './companies';
@use './contact';

.panel-heading {
  display: flex;
  gap: 8px;
  align-content: flex-start;
  flex-wrap: wrap;

  &.page-header {
    margin: 30px auto;
    width: 90%;

    .panel-title {
      color: $blue;
      font-size: 22px;
      font-weight: 300;
      line-height: 1.1;
      margin: 1% 0;
    }
  }
}

.back-button {
  align-self: flex-start;
  margin-top: 8px;

  a {
    border: 1px solid #d1d1d2;
    border-radius: 4px;
    padding: 0 4px 4px 4px;
    color: black;
    width: 12px;
    height: 12px;

    >span {
      >svg {
        width: 12px;
        height: 12px;
      }
    }


    &:hover {
      background-color: #d9d9d9;
    }
  }
}