@use './variables' as *;
.companies {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .panel {
    box-shadow: 1px 1px 0 rgb(190, 190, 190);
    width: 28.5%;
    max-width: 312.25px;
    margin: 1%;
    padding: 1%;
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-clip: padding-box;
    outline: 0;
    .panel-heading {
      margin-top: 0;
      padding: 0;
      a {
        width: 280px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        border: 1px solid #ccbfbf;
        border-radius: 4px;
        &:hover {
          opacity: 0.8;
        }
        .image {
          width: calc(100% - 6px) !important;
          height: calc(100% - 6px) !important;
          left: 3px !important;
          top: 3px !important;
        }
      }
    }
    .panel-body {
      overflow-y: auto;
      margin-top: 10px;
    }
  }
}

@media (max-width: 992px) {
  .companies {
    .panel {
      width: 43.5%;
    }
  }
}

@media (max-width: 600px) {
  .companies {
    .panel {
      width: 90%;
    }
  }
}
