@use './variables' as *;
.projects {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 354px;
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}

.project {
  &.standalone {
    display: grid;
    margin: 20px auto;
    width: 90%;
  }
  .panel {
    p {
      margin-right: 1%;
      span {
        font-weight: 500;
      }
    }
    .panel-title {
      &.teaser {
        padding-left: 1em;
        margin: 0;
      }
    }
  }
  .panel-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .flush {
      margin: 1em;
      cursor: pointer;
      box-shadow: 1px 1px 0 rgb(190, 190, 190);
      border: 1px solid #f3f3f3;
      padding: 1%;
      border-radius: 4px;
      .thumbnail {
        max-width: 325px;
        border-radius: 2px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

  /* 2 Columns: (354 * 2) + 8 = 716px */
  @media (min-width: 716px) {
    .projects {
      width: 716px;
    }
  }

  /* 3 Columns: (354 * 3) + (8 * 2) + margin = 1078px + 30px */
  @media (min-width: 1108px) {
    .projects {
      width: 1078px;
    }
  }

  /* 4 Columns: (354 * 4) + (8 * 3) + margin = 1440px + 30px */
  @media (min-width: 1470px) {
    .projects {
      width: 90%;
    }
  }